<ion-header [translucent]="true">
	<ion-toolbar color="danger">
		<ion-title>
			Lokasiku
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Tab 5</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-card>
		<img src="https://akcdn.detik.net.id/community/media/visual/2020/04/15/9d858fec-6e1e-47c8-8d2f-544b9a48bc9a_169.jpeg?w=700&q=90"/>
	</ion-card>

	<ion-grid>
		<ion-row>
			<ion-col size="6">
				<ion-card>
					<img src="https://akcdn.detik.net.id/community/media/visual/2020/04/15/9d858fec-6e1e-47c8-8d2f-544b9a48bc9a_169.jpeg?w=700&q=90"/>
          <ion-card-title>Lokasiku</ion-card-title>
        </ion-card>
			</ion-col>
			<ion-col size="6">
				<ion-card>
					<img src="https://akcdn.detik.net.id/community/media/visual/2020/04/15/9d858fec-6e1e-47c8-8d2f-544b9a48bc9a_169.jpeg?w=700&q=90"/>
          <ion-card-title>RS Terdekat</ion-card-title>
        </ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="6">
				<ion-card>
					<img src="https://akcdn.detik.net.id/community/media/visual/2020/04/15/9d858fec-6e1e-47c8-8d2f-544b9a48bc9a_169.jpeg?w=700&q=90"/>
          <ion-card-title>Zona Lokasi Sekitar</ion-card-title>
        </ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
