<ion-header>
	<ion-toolbar color="danger">
		<ion-title>Login</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				<center>
						<img src="assets/logo.png">
				</center>
			</ion-col>
		</ion-row>
	</ion-grid>
	<form onsubmit={this.processForm}>
		<ion-item>
			<ion-label position="stacked">Email
				<ion-text color="danger">*</ion-text>
			</ion-label>
			<ion-input required type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Password
				<ion-text color="danger" >*</ion-text>
			</ion-label>
			<ion-input required type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"></ion-input>
		</ion-item>
		<div class="ion-padding">
			<ion-button expand="block" color="danger" type="submit" class="ion-no-margin" (click)="login()">LOGIN</ion-button>
		</div>
	</form>
</ion-content>
